
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-size:14px;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

 a {
	
	text-decoration:none;
	
} 
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	text-transform: capitalize;
}
p {
	margin: 0;
	font-size:14px;
}
ul{
	padding: 0;
    margin: 0;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea{box-shadow:none;outline:0!important;}


html,body{
    height: 100%;
	position: relative;
    z-index: 2;
}



.business{
	color:#fefefe;
	position: absolute;
    padding-top: 21px;
	font-size: 35px;
	max-width:805px;
	font-family: -webkit-body;
	 
}

.navbar-brand{
	margin-top: 0;
	height: fit-content;
}

.wrapper-sticky{
	position: relative;
	display: inline-block;
	background: rgb(102, 99, 202);
}

.sticky{
	padding: 10px 0px 0px;
	color: #fff;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav li a{
	font-size: 24px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	margin-top:15px;
	padding-left: 27px;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
}

.search span {
    position: absolute;
    right: -17px;
    top:35px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
}
.search input {
    position: absolute;
    top:60px;
    right: -17px;
    width: 15px;
    height: 20px;
    border-radius: 4px;
    font-size: 14px;
    padding:20px;
    border: 1px solid #ccc;
    z-index: 1;
    opacity:0;
}
.search input.active{
	border-radius: 0 4px;
}

.header-slider-area {
    position: relative;
    z-index: 1;
}

.single-slide-item {
    padding-top: 80px;
    padding-bottom:294px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.single-slide-item h2 {
	color:#fff;
	font-size:70px;
	font-weight:500;
	line-height: 1;
	margin-bottom: 15px;
	font-family: 'Playfair Display', serif;
	text-transform: capitalize;
}
.single-slide-item p {
	color:#fefefe;
	font-size:20px;
	max-width:805px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
	margin-bottom:51px;
}
.single-slide-item button.slide-btn,
.single-slide-item  button:active .slide-btn ,
.single-slide-item button:focus .slide-btn{
	display: inline-block;
    background: #f5f5fb;
    padding: 17px 50px;
    color: #5549af;
    border: 1px solid #f5f5fb;
	font-size:16px;
	font-weight:600;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-right: 36px;
	margin-bottom: 30px;
	outline:0;
	box-shadow:none;
	-webkit-transition:.5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	border-radius: 3em;
}

.single-slide-item  button.slide-btn:hover{
	 background: transparent;
	 color: #fff;
	 border: 1px solid #fff;
	 border-radius: 3em;
}
.single-slide-item.slide-1 {
	background-image:url(../../assets/images/banner/banner2.jpg);
	height: 530px;
	width: 100%;
	position:relative;
	z-index:1;
}
.single-slide-item.slide-1:before,.single-slide-item.slide-2:before{
	background:rgba(11, 11, 14, 0.65);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	content:'';
	z-index:-1;
}

.about-us{
	background: #f9faff;
	padding: 4px 25px;
}
.about-us-txt{
	margin-top: 20px;
}
.about-us h2 {
	color:#4d4e54;	
	font-size:50px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
.about-us h6 {
	color:#4d4e54;	
	font-size:30px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
.about-us p{
	color:#888;	
	font-size:17px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.7;
	max-width: 501px;
    margin-top: 12px;
    margin-bottom: -18px;
}

hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 132;
		border-top: 1px solid black;
}


.about-us-img  {
	position: relative;
	box-shadow: 0 10px 30px rgba(112,134,230,.2);
	z-index: 1;
}

.about-us img{
	width: 50%;
	margin-top: 30px;
	}

.about-us-img:before{
	position: absolute;
	content: " ";
	top:55px;
	left:-23px;
	border: 3px solid #ebecfb;
	width: 50%;
	height: 400px;
	z-index: -1;
}

.copyright{
	margin-top: 50px;
	margin-left: 15px;
}

.social-icon li {
	display: inline-block;
  }
  
  .social-icon li a {
	color: white;
	background: black;
	width: 38px;
	height: 38px;
	line-height: 38px;
	display: block;
	text-align: center;
	border-radius: 100%;
	border: 1px solid black;
	font-size: 16px;
	margin: 23px 6px 12px 6px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
  }
  
  .social-icon li a:hover {
	color: #fff;
  }
  
  .social-icon li .facebook {
	background: #3b5999;
  }
  
  .social-icon li .instagram {
	background: #D6274D;
  }
  
  .social-icon li .linkedin{
	background: #1260A2;
  }
  
  .social-icon li .github {
	background: gray;
  }
  .social-icon li .facebook:hover {
	background: #172a53;
  }
  
  .social-icon li .instagram:hover {
	background: #6b1023;
  }
  
  .social-icon li .linkedin:hover {
	background: #0c3b61;
  }
  
  .social-icon li .github:hover {
	background: rgb(59, 57, 57);
  }



.container1{
	display: flex;
}


/* 
.form-control{
	position: relative;
	margin-left: 800px;
	margin-top: 20px;
} */



/* Sidebar */


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}


#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}


.container1{
	/* padding-top: 20px; */
	margin-top: -20px;
	padding-left: 40px;
	background-color: aliceblue;
}


.pb-0{
background-color: aliceblue;
margin-top: -38px;
}

.container-xl{
	background-color: aliceblue;
}

